body{
margin:0;
font-family:Arial;
}

.login-body{
background:#0f2027;
display:flex;
height:100vh;
align-items:center;
justify-content:center;
}

.login-card{
background:white;
padding:40px;
border-radius:10px;
text-align:center;
}

.login-card input{
display:block;
margin:10px 0;
padding:10px;
width:200px;
}

.login-card button{
padding:10px;
background:#25d366;
border:none;
color:white;
}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:250px;
background:#0f2027;
color:white;
padding:20px;
}

.search{
width:100%;
padding:8px;
margin:10px 0;
}

.user{
padding:10px;
border-bottom:1px solid #333;
}

.chat{
flex:1;
display:flex;
flex-direction:column;
background:#ece5dd;
}

.chat-header{
background:#202c33;
color:white;
padding:15px;
}

.messages{
flex:1;
padding:20px;
overflow-y:auto;
}

.message{
max-width:60%;
padding:10px;
margin-bottom:15px;
border-radius:10px;
}

.sent{
background:#d9fdd3;
margin-left:auto;
}

.received{
background:white;
}

.time{
font-size:10px;
color:gray;
display:block;
text-align:right;
}

.chat-input{
display:flex;
padding:10px;
background:#202c33;
}

.chat-input input{
flex:1;
padding:10px;
border:none;
border-radius:5px;
}

.chat-input button{
margin-left:5px;
padding:10px;
background:#25d366;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}